<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.raisetimeline.api.auth.refreshtoken.RefreshTokenMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO refresh_tokens (user_id, token, expires_at, created_at)
        VALUES (#{userId}, #{token}, #{expiresAt}, NOW())
    </insert>

    <select id="findByToken" resultType="com.raisetimeline.api.auth.refreshtoken.RefreshToken">
        SELECT * FROM refresh_tokens WHERE token = #{token}
    </select>

    <delete id="deleteByToken">
        DELETE FROM refresh_tokens WHERE token = #{token}
    </delete>

    <delete id="deleteByUserId">
        DELETE FROM refresh_tokens WHERE user_id = #{userId}
    </delete>

</mapper>
